@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "gRPCTest Init";
}

<h1 class="display-4">Welcome Init</h1>
<h2>@base.ViewBag.Result</h2>
